@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=VT323&display=swap');

* {
    box-sizing: border-box;
}

a {
    color: #3b4cca;
}

body {
    font-family: "VT323", monospace;
    /*overflow: hidden;*/
    margin: 0;
    color: #333333;
    background-color: #f7f7f7;
}

.container {
    margin: 80px auto;
    max-width: 600px;
}

header {
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    font-weight: 800;
    font-size: 32px;
    line-height: 1.5;
}

form {
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 20px 60px rgba(0,0,0,0.08);
    display: flex;
    margin-bottom: 30px;
}

.pokemon-input {
    padding: 12px;
    border: 2px solid #3b4cca;
    width: 80%;
    font-size: 20px;
    border-radius: 50px;
    line-height: 20px;
    color: #1e1e1e;
    font-family: inherit;
}

.submit-button {
    margin-left: 10px;
    background-color: #3b4cca;
    border: none;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bolder;
}

.pokemon-and-quote-container {
    display: none;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding-left: 30px;
}

.pokemon-container img {
    display: block;
    margin-left: auto;
}

footer {
    font-size: 12px;
    text-align: center;
    margin-top: 30px;
}